body {
    font-family: 'Roboto', sans-serif; /* Default text */
    background-color: #1c1c1e; /* A deep dark gray */
    color: #ffffff; /* White text for better readability */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Orbitron', sans-serif; /* Special font for headings */
    font-size: 2.5em; /* Larger size for headings */
    color: #0db9d7; /* Bright accent color for headings */
}

.container {
    width: 95%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.forecast {
    width: 100%;
    max-width: 800px; /* Uniform width for all forecast boxes */
    margin: 10px 0;
    padding: 20px;
    background-color: #2a2a2e; /* Slightly lighter than the body for contrast */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #e0e0e0; /* Light gray text for readability */
}

.feedback-container {
    width: 100%;
    padding: 20px;
    background-color: #333335; /* Dark gray for the feedback area */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 30px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.feedback-form h2, .feedback-form label, .feedback-form input, .feedback-form input[type=submit] {
    width: 100%;
}

.feedback-form input[type=submit] {
    background-color: #0277bd; /* Bright accent color for the submit button */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}



#waveChart {
    width: 100%;
    max-width: 800px; 
    height: 400px;
    margin: 20px 0;
}

#waveChart {
    width: 100%;
    max-width: 1200px; 
    height: 400px;
    margin: 20px 0;
}

